* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eaeaea;
}
main {
	background-color: #fff;
	width: 70%;
	margin: 2.5rem auto;
	border-radius: 0.625rem;
	padding: 2.5rem 1.25rem 1.875rem 1.25rem;
}

h1,
h2,
figcaption,
p {
	font-family: 'Roboto', sans-serif;
}

h1,
h2 {
	color: #1b1b1b;
	text-align: center;
}

h1 {
	/* font-size: 28px; */
	font-size: 1.75rem;
}

h2 {
	/* font-size: 20px; */
	font-size: 1.25rem;
}

figcaption {
	color: #8f8f8f;
}

footer p {
	color: #8f8f8f;
	text-align: center;
}

figcaption,
footer p {
	/* font-size: 12px; */
	font-size: 0.75rem;
}

li,
p {
	color: #39393a;
	/* font-size: 16px; */
	font-size: 1rem;
	line-height: 1.625rem;
}

ul,
ol {
	list-style-position: inside;
}

img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	object-position: 50% 50%;
	border-radius: 0.625rem;
}
